# Workshop #1 - Simple Data Transformations

Welcome to the workshops! Every week we'll cover a new datascience topic in Python to help familiarize your team for the competition! Every workshop will teach you the bare essentials of data science. There is no fluff. Please complete every workshop to give yourself a full grasp of the concept. If you have any trouble with the workshops please message the #workshops channel on Slack. Slack is a place for everybody to learn so if you know how to answer something feel free to respond to that channel!

This week will cover dataframe manipulation and we'll be working with the Toronto *Rain Gauge Locations and Precipitation* dataset.

This is large collection of rainfall measurements taken over the past 3 years. (Link to the complete dataset: https://goo.gl/gBYrb4). I have already downloaded the data for you and it is archived within the *2017_rainfall_data* folder. For the sake of simplicity, we'll just be looking at data from 2017.

## A few ground rules

 - Remember to run every cell
     - Parts of this workshop won't work if this condition isn't met
 - Please don't change my asserts
     - If you're receiving an incorrect answer please don't change the assert answer just to get it right. You            won't learn anything and will probably fail the rest of the tutorial. Feel free to message slack on the #workshops channel if you get stuck.
     
Lets begin by importing some libraries.

In [1]:
#don't mind this. I'm just trying to double check you work :)
def assertAns(condition, fail_str, suc_str):
    assert condition, fail_str
    print(suc_str)

In [3]:
import numpy as np #Linear algebra
import requests as req #Python's http library
import re #Python's Regex library
import pandas as pd #Python's data manipulation library

Almost everything you do in computer science requires a datastructure to store information. Since data science requires a lot of space to store this information really smart academics have invented the dataframe to hold vast amounts of data.

Dataframes are basically tables. Each dataframe is comprised of colummns, rows, and a header.

Yep sounds like a table. The reason why a dataframe resembles a table is because tables are very structured and easy to understand. If you look at a table, all cells underneath a header are part of the same "attribute". This standardization allows tables to store information in a neat manner.

Lets go ahead and make our first dataframe!

In [2]:
#run this cell to make your first dataframe!

a2DArray = [["apple","potato"],
            ["banana","onion"]]


myFirstDataframe = pd.DataFrame(a2DArray,columns=["fruits","vegitables"])
#the following variable is the last variable that is returned in the cell
myFirstDataframe

   fruits vegitables
0   apple     potato
1  banana      onion

A few things to note:
 - The *columns* attribute in the *pd.DataFrame()* command specifies the headers for the dataframe
 - The numbers on the left hand side of the dataframe are the row indexes. Note how they were automatically generated.
 - Jupyter automatically displays the dataframe if the dataframe LAST VARIABLE to be RETURNED in the cell
 - We pass in a 2D array to make the dataframe because tables (and subsiquently dataframes) are basically 2D arrays!

Now that we have a better understanding of the structure of a dataframe, lets import our dataset into a dataframe!

Since CSV files are meant to be read by excel (which converts data into a table), it is easy for a dataframe to represent data originating from a CSV file.

In fact, transforming data from a CSV file into a dataframe is so easy there is a built in function in Pandas that can turn a CSV file into a dataframe in one step!

In [4]:
#note how I am navigating through our file system to find the csv file I want.
#the directory you start in is always in relation to the directory of the current notebook
rainfallDF = pd.read_csv("../2017_rainfall_data/rainfall201706.csv")

Datasets don't always come in CSV files! If you find a dataset that came as a JSON file or even a a shapefile, don't hesitate to ask how to import these files on Slack!

Lets take a look at the first five rows of our dataframe using the _head(n)_ command. By default _n=5_ so if you use _dataframe.head()_, it will return the first 5 elements of our dataframe. You'll mainly be using this command to have a glance at your data. It's pretty useful.

Try that with our *rainfallDF*

In [5]:
rainfallDF.head()

     id    name                 date  rainfall
0  7677  RG_001  2017-06-01T00:00:00       0.0
1  7677  RG_001  2017-06-01T00:05:00       0.0
2  7677  RG_001  2017-06-01T00:10:00       0.0
3  7677  RG_001  2017-06-01T00:15:00       0.0
4  7677  RG_001  2017-06-01T00:20:00       0.0

Sometimes we want to select a certain index (row) of a dataframe. To do so, we simply put _iloc[n]_ before our dataframe:

_dataframe_.iloc[n]

Much like arrays, we replace _n_ with the index that we want to retrieve.

Try to grab the first row of our dataframe using the *iloc[]* command.

In [6]:
rainfallRow.<FILL IN>

SyntaxError: invalid syntax (<ipython-input-6-0b356c69db5f>, line 1)

Now lets select a certain column within our dataframe!
we do so like this:

newVarToHoldColumnVals = DF["theHeaderForTheColumn"]

Try to make a variable to hold all the dates of our dataframe

In [7]:
datesColumn = <FILL IN>

SyntaxError: invalid syntax (<ipython-input-7-1307c7826dc2>, line 1)

# The Data Science Process

Whenever we're working with a dataset we usually go through 4 stages:

1. Data Inspection
2. Normalization and cleaning
3. Gathering insights (Feature Engineering)
4. Generate the models
5. Storytelling

### Data Inspection
Every good data science project begins with data inspection. When we inspect the data we want to look at the beast and see what's coming. The point of inspecting the data is to gather context on what we're looking at so we can begin to ask ourselves questions to answer!

Some things I usually look at when I'm glancing at data are the means of the columns, the unique values of categorical variables, counts, max, mins, and modes. This should spark some questions if you see an abnormally high number in a column.

### Normalization and Cleaning
Once we understand our data, we'll have to start cleaning our data for modeling. This involves clearing rows with null values (or imputing them with averages), removing useless columns (or columns that are too similiar to others), placing all values into a linear scale, or converting all numbers to a universal unit for your dataset.


### Gathering Insights

Before I discuss about insight gathering you need to know these terms:

__Data__ are values that describes something. Data is usually gathered from sensors or events that happen on your phone/computer (like a tap)

__Information__ is data that is useful. Data is not meaningful. Information is.

__Attributes__ are the variables of your dataset. If you have a dataset that describes a windows, the attributes of the dataset are the dimensions of the window, the types of material that it is made from. Think of attributes as the headers of your dataset. In a dataframe, the values that describes the attributes are the data underneath the headers.

__Features__ are attributes that are useful. Attributes are not meaningful. Features are. The moment that an attribute tells us something about the dataset is the moment that it becomes a feature. Features are the useful bits of information that are fed into machine learning algorithms. Attributes can't be fed into machine learning algorithms because they don't tell the algorithm anything. It's just a jumble of numbers.

__Feature Engineering__ is the extraction of meaningful information out of attributes in our dataset. Think of it as turning attributes into features. An example of feature engineering is determining the day of the week given a date. We are creating a new feature (the day of the week) given an attribute (the date). Another example is extracting the surname out of a full name. This is considered feature engineering because surnames can identify people who are part of the same family in a dataset.

With our data cleaned and normalized we feature engineer to discover more patterns and insights within our dataset. The goal of feature engineering is to provide more variables for our algorithms to play with. By manually identifying these patterns, the computer doesn't have to expend additional effort to discover these patterns algorithmically.

This is the hardest part of data science so don't worry if you need more explination or aren't good at it. Feel free to message @curtischong5 on Slack if you want further explination!



From experience, steps 1-3 should take up 90% of your time. It also just so happens that the first three steps occur organically with the inception of your questions. Once you start looking at the data, you'll want to answer some questions... which will lead you to clean the data to gather insights from it. Then you may have more questions so you'll repeat the cycle.

### Generating the models
Once our dataset has been prepared (and you've answered most of your questions), we can finally have some fun and do some machine learning to make predictions! Depending on the type of dataset, you may want to implement a regression algorithm to predict a numeric value (like predicting the speed of a car given these variables) or sort variables into different categories (like passing or failing a test). We'll dive deeper into machine learning in workshop #3.

### Storytelling
The purpose of data science is to tell a story. We crunch numbers to discover new things and to propose new policies. Our world will crumble if decisions were not backed by data. So whatever you do when you're analyzing your dataset(s) always keep this purpose in the back of your mind.

So lets inspect *our* data. One useful method to learn about the specifics of your dataset is by running the *describe()* function on our *rainfallDF*. So lets try that!

In [8]:
rainfallDF.describe()

                  id       rainfall
count  359051.000000  347427.000000
mean     7715.657639       0.012369
std        81.252303       0.145904
min      7674.000000       0.000000
25%      7684.000000       0.000000
50%      7696.000000       0.000000
75%      7708.000000       0.000000
max      8049.000000       9.140000

note: std means standard deviation and the numbers at the 25%, 50%, and 75% mark are numeric percentiles of that column. (Since I'm bad at explaining this check out this link:) https://stackoverflow.com/questions/39567712/python-pandas-how-is-25-percentile-calculated-by-describe-function

That interesting. Notice how the number of rainfall "data" doesn't match the number of *ID*s. This doesn't make sense as every id must have a corresponding *rainfall* value. I suspect that some missing data is in the rainfall column. Lets run the *dropna()* function to try to remove all rows that are missing data or contains "NaN".

In [9]:
droppedNa = rainfallDF.<FILL IN>

SyntaxError: invalid syntax (<ipython-input-9-33f8f896b974>, line 1)

Now lets re-run the *describe()* function on our dataframe to see if the number of *ID*s and *rainfall* are the same.

In [9]:
droppedNa.<FILL IN>

                  id       rainfall
count  347427.000000  347427.000000
mean     7716.586077       0.012369
std        82.415253       0.145904
min      7674.000000       0.000000
25%      7685.000000       0.000000
50%      7697.000000       0.000000
75%      7709.000000       0.000000
max      8049.000000       9.140000

Perfect.

I'm a bit curious... What is the average amount of rainfall that usually falls? Assign that number into the *averageRainfall* variable

In [21]:
averageRainfall = <FILL IN>

SyntaxError: invalid syntax (<ipython-input-21-f9ab99d46445>, line 1)

In [58]:
assertAns(averageRainfall == 0.012369, "That is not the average rainfall!","Test passed")

Test passed

A bit more about the methodology we just went through. Notice how we asked ourselves some questions after inspecting the data. Next, we had to clean our dataset to answer our question. Finally, we asked ourselves more questions about the data. We kept jumping back and forth on the four stages! Since a large part of data science falls within the realm of data exploration, it is hard to estimate how long it'll take to analyze data. So start early on your projects and give yourself a deadline!

Lets practice selecting columns again. Try to select the *rainfall* column below and save it into the dataframe *rainfallColumn*

In [26]:
rainfallColumn = rainfallDF[<FILL IN>]

Now using this column, lets try to run the *mean()* function on it. This will give us the average amount of rainfall that fell. We're going to save this value into the *avgRainfall* variable

In [ ]:
avgRainfall = rainfallColumn.<FILL IN>

In [ ]:
assert(avgRainfall == 0.012369, "That is not the average rainfall!", "Test Passed!")

Lets also run the *sum()* function on the *rainfallColumn* to determine how much rain had fell on Toronto in the first few months of 2017.

In [27]:
avgRainfall = rainfallColumn.<FILL IN>

In [28]:
assertAns(avgRainfall == 4297.2639990000007, "That is not the total rainfall!","Test passed")

4297.2639990000007

Notice how *averageRainFall* is the same value as the value we were told from the *describe()* function.

I'm going to showcase one last function: *unique()*. This function will display all unique values in a column which makes it really useful for categorical columns. More information about categorical variables here: http://www.stat.yale.edu/Courses/1997-98/101/catdat.htm.

Lets run *unique()* on the "name" column of the *rainfallDF*. We'll save this value to the *uniqueNames* variable

In [ ]:
uniqueNames = rainfallDF[<FILL IN>].<FILL IN>

In [61]:
assertAns(list(uniqueNames) == ['RG_001', 'RG_002', 'RG_003', 'RG_004', 'RG_006', 'RG_007','RG_012', 'RG_013', 'RG_014', 'RG_015', 'RG_016', 'RG_017','RG_018', 'RG_019', 'RG_020', 'RG_021', 'RG_022', 'RG_023','RG_024', 'RG_025', 'RG_027', 'RG_028', 'RG_030', 'RG_031','RG_033', 'RG_034', 'RG_035', 'RG_036', 'RG_037', 'RG_038','RG_040', 'RG_041', 'RG_042', 'RG_044', 'RG_045', 'RG_046','RG_047', 'RG_048', 'RG_049', 'RG_051', 'RG_052', 'RG_054','RG_055', 'RG_056'], "Those aren't the unique station names!","Test passed")

Test passed

These small functions (*sum()*, *mean()*, *unique()*), and others like it (*mode()*, *median()*, etc.) are great for glancing at your dataset. They allow you to take a look and learn how data varies for individual columns.

Before we end this workshop, I would like to draw attention to one of the more important aspects of data analytics... learning how to generate features from existing attributes. In other words, I'll give you the tool to assist you with the third stage. This time, I'll lead by example:

In [7]:
rainfallDF["date"].unique()

array(['2017-06-01T00:00:00', '2017-06-01T00:05:00', '2017-06-01T00:10:00',
       ..., '2017-06-29T23:50:00', '2017-06-29T23:55:00',
       '2017-06-30T00:00:00'], dtype=object)

In [11]:
#I'm a curious and want to know what is the average rainfall for every hour of the day
#I'll begin by looping through each row in the dataframe and take the "time" within the
#date attribute and put it into another column called time
transformedDF = rainfallDF #lets make a copy of the existing dataframe
for index, row in transformedDF.iterrows():
    dateForThisRow = row["date"]
    theTime = dateForThisRow.split("T")[1] #values in the date column looks like this: 2017-06-01T00:00:00
    #I am spliting the string on the "T" and selecting the "1" index because
    #that was the time when the value was taken
    rainfallDF.set_value(index,'time', theTime) #use this command to set the values of a new column
#lets have a quick look at the transformed dataframe:
transformedDF.head()

     id    name                 date  rainfall      time
0  7677  RG_001  2017-06-01T00:00:00       0.0  00:00:00
1  7677  RG_001  2017-06-01T00:05:00       0.0  00:05:00
2  7677  RG_001  2017-06-01T00:10:00       0.0  00:10:00
3  7677  RG_001  2017-06-01T00:15:00       0.0  00:15:00
4  7677  RG_001  2017-06-01T00:20:00       0.0  00:20:00

In [12]:
transformedDF["time"].unique() #wow. it seems like they take measurements every 5 minutes.

array(['00:00:00', '00:05:00', '00:10:00', '00:15:00', '00:20:00',
       '00:25:00', '00:30:00', '00:35:00', '00:40:00', '00:45:00',
       '00:50:00', '00:55:00', '01:00:00', '01:05:00', '01:10:00',
       '01:15:00', '01:20:00', '01:25:00', '01:30:00', '01:35:00',
       '01:40:00', '01:45:00', '01:50:00', '01:55:00', '02:00:00',
       '02:05:00', '02:10:00', '02:15:00', '02:20:00', '02:25:00',
       '02:30:00', '02:35:00', '02:40:00', '02:45:00', '02:50:00',
       '02:55:00', '03:00:00', '03:05:00', '03:10:00', '03:15:00',
       '03:20:00', '03:25:00', '03:30:00', '03:35:00', '03:40:00',
       '03:45:00', '03:50:00', '03:55:00', '04:00:00', '04:05:00',
       '04:10:00', '04:15:00', '04:20:00', '04:25:00', '04:30:00',
       '04:35:00', '04:40:00', '04:45:00', '04:50:00', '04:55:00',
       '05:00:00', '05:05:00', '05:10:00', '05:15:00', '05:20:00',
       '05:25:00', '05:30:00', '05:35:00', '05:40:00', '05:45:00',
       '05:50:00', '05:55:00', '06:00:00', '06:05:00', '06:10:00',
       '06:15:00', '06:20:00', '06:25:00', '06:30:00', '06:35:00',
       '06:40:00', '06:45:00', '06:50:00', '06:55:00', '07:00:00',
       '07:05:00', '07:10:00', '07:15:00', '07:20:00', '07:25:00',
       '07:30:00', '07:35:00', '07:40:00', '07:45:00', '07:50:00',
       '07:55:00', '08:00:00', '08:05:00', '08:10:00', '08:15:00',
       '08:20:00', '08:25:00', '08:30:00', '08:35:00', '08:40:00',
       '08:45:00', '08:50:00', '08:55:00', '09:00:00', '09:05:00',
       '09:10:00', '09:15:00', '09:20:00', '09:25:00', '09:30:00',
       '09:35:00', '09:40:00', '09:45:00', '09:50:00', '09:55:00',
       '10:00:00', '10:05:00', '10:10:00', '10:15:00', '10:20:00',
       '10:25:00', '10:30:00', '10:35:00', '10:40:00', '10:45:00',
       '10:50:00', '10:55:00', '11:00:00', '11:05:00', '11:10:00',
       '11:15:00', '11:20:00', '11:25:00', '11:30:00', '11:35:00',
       '11:40:00', '11:45:00', '11:50:00', '11:55:00', '12:00:00',
       '12:05:00', '12:10:00', '12:15:00', '12:20:00', '12:25:00',
       '12:30:00', '12:35:00', '12:40:00', '12:45:00', '12:50:00',
       '12:55:00', '13:00:00', '13:05:00', '13:10:00', '13:15:00',
       '13:20:00', '13:25:00', '13:30:00', '13:35:00', '13:40:00',
       '13:45:00', '13:50:00', '13:55:00', '14:00:00', '14:05:00',
       '14:10:00', '14:15:00', '14:20:00', '14:25:00', '14:30:00',
       '14:35:00', '14:40:00', '14:45:00', '14:50:00', '14:55:00',
       '15:00:00', '15:05:00', '15:10:00', '15:15:00', '15:20:00',
       '15:25:00', '15:30:00', '15:35:00', '15:40:00', '15:45:00',
       '15:50:00', '15:55:00', '16:00:00', '16:05:00', '16:10:00',
       '16:15:00', '16:20:00', '16:25:00', '16:30:00', '16:35:00',
       '16:40:00', '16:45:00', '16:50:00', '16:55:00', '17:00:00',
       '17:05:00', '17:10:00', '17:15:00', '17:20:00', '17:25:00',
       '17:30:00', '17:35:00', '17:40:00', '17:45:00', '17:50:00',
       '17:55:00', '18:00:00', '18:05:00', '18:10:00', '18:15:00',
       '18:20:00', '18:25:00', '18:30:00', '18:35:00', '18:40:00',
       '18:45:00', '18:50:00', '18:55:00', '19:00:00', '19:05:00',
       '19:10:00', '19:15:00', '19:20:00', '19:25:00', '19:30:00',
       '19:35:00', '19:40:00', '19:45:00', '19:50:00', '19:55:00',
       '20:00:00', '20:05:00', '20:10:00', '20:15:00', '20:20:00',
       '20:25:00', '20:30:00', '20:35:00', '20:40:00', '20:45:00',
       '20:50:00', '20:55:00', '21:00:00', '21:05:00', '21:10:00',
       '21:15:00', '21:20:00', '21:25:00', '21:30:00', '21:35:00',
       '21:40:00', '21:45:00', '21:50:00', '21:55:00', '22:00:00',
       '22:05:00', '22:10:00', '22:15:00', '22:20:00', '22:25:00',
       '22:30:00', '22:35:00', '22:40:00', '22:45:00', '22:50:00',
       '22:55:00', '23:00:00', '23:05:00', '23:10:00', '23:15:00',
       '23:20:00', '23:25:00', '23:30:00', '23:35:00', '23:40:00',
       '23:45:00', '23:50:00', '23:55:00'], dtype=object)

In [19]:
#with this new dataframe I want to create an array that describes the average amount of rainfall for every hour.
#I'll start off by selecting just the first minute of the first hour of the day
firstMinuteDF = transformedDF[transformedDF["time"] == "00:00:00"]
firstMinuteDF.head()

        id    name                 date  rainfall      time hour
0     7677  RG_001  2017-06-01T00:00:00       0.0  00:00:00   00
288   7677  RG_001  2017-06-02T00:00:00       0.0  00:00:00   00
576   7677  RG_001  2017-06-03T00:00:00       0.0  00:00:00   00
864   7677  RG_001  2017-06-04T00:00:00       0.0  00:00:00   00
1152  7677  RG_001  2017-06-05T00:00:00       0.0  00:00:00   00

In [14]:
#Lets manipulate the DF again and add a new "hour" column
transformedDF2 = transformedDF #lets make a copy of the existing dataframe
#we can achieve this by looping through every row of our dataframe and extracting
#the "hour" value from the date attribute
for index, row in transformedDF2.iterrows():
    timeForThisRow = row["time"]
    theHour = timeForThisRow.split(":")[0] #values in the "time" column looks like this: 00:00:00
    #I am spliting the string on the ":" and selecting the "0" index because that
    #is the hour when the value was taken
    rainfallDF.set_value(index,'hour', theHour) #use this command to set the values of a new column
#lets have a quick look at the transformed dataframe:
transformedDF2.head()

     id    name                 date  rainfall      time hour
0  7677  RG_001  2017-06-01T00:00:00       0.0  00:00:00   00
1  7677  RG_001  2017-06-01T00:05:00       0.0  00:05:00   00
2  7677  RG_001  2017-06-01T00:10:00       0.0  00:10:00   00
3  7677  RG_001  2017-06-01T00:15:00       0.0  00:15:00   00
4  7677  RG_001  2017-06-01T00:20:00       0.0  00:20:00   00

I'm also going to teach you some new selecting commands. Watch how I am selecting all rows that were measured from the first hour:

In [15]:
firstHourDF = transformedDF2[transformedDF2["hour"] == "00"] #I'm saying: select all rows
#that has an "hour" value of "00"
print(firstHourDF["rainfall"].mean())
#the following value is the average amount of rainfall for all measurements
#that were taken in the first hour

0.0117780842701

In [16]:
#now lets try the same measurement for all hours of the day
arrToHoldHours = []
for hour in range(23):
    strHour = str(hour)
    #here I am formating the "hour" so it matches with the style of the hour values in the DF
    if len(strHour) == 1:
        strHour = "0" + strHour
    #lets actually do the selecting now
    selectedHour = transformedDF2[transformedDF2["hour"] == strHour]
    avgRainfallForThatHour = selectedHour["rainfall"].mean() #calculating the mean
    arrToHoldHours.append("hour " + strHour + ": " + str(avgRainfallForThatHour))
    
#andddd here we are printing the data
for oneHour in arrToHoldHours:
    print(oneHour)

hour 00: 0.0117780842701
hour 01: 0.0149699861687
hour 02: 0.0421227027774
hour 03: 0.0203372478585
hour 04: 0.00289961336647
hour 05: 0.00738124827396
hour 06: 0.0254926815797
hour 07: 0.0270355785838
hour 08: 0.00957183332182
hour 09: 0.00285955328124
hour 10: 0.00885984665331
hour 11: 0.00914015334669
hour 12: 0.00492495854063
hour 13: 0.0194678176105
hour 14: 0.0415913889464
hour 15: 0.00759516908213
hour 16: 0.0015831433506
hour 17: 0.00109329466197
hour 18: 0.00149875553097
hour 19: 0.00667431890472
hour 20: 0.0136510261903
hour 21: 0.0059092039801
hour 22: 0.00209551454834

We can see that most percipitation happens at 2AM. It might be interesting to see how measurements from different seasons differ and even from different years. (If you're interested download the other datasets https://goo.gl/gBYrb4 and merge them into one big dataframe!)

Now before I let out the workshop, I'll teach you one last selection method; how to impose multiple rules when selecting rows. You may have noticed how I used *transformedDF[transformedDF["time"] == "00:00:00"]* to select all measurements that were taken from the first minute of the day. But what if I want to select values that came from the first minute AND from a specific station... say from *RG_001*. I'll have to use syntax to define multi-condition selection. Here's how it looks like:

In [20]:
firstMinOfDayAndRG_001 = transformedDF[(transformedDF["time"] == "00:00:00") & (transformedDF["name"] == "RG_001")]
#notice the parenthesis between each condition
print("Amount selected: " + str(len(firstMinOfDayAndRG_001)))
firstMinOfDayAndRG_001.head()

Amount selected: 30

        id    name                 date  rainfall      time hour
0     7677  RG_001  2017-06-01T00:00:00       0.0  00:00:00   00
288   7677  RG_001  2017-06-02T00:00:00       0.0  00:00:00   00
576   7677  RG_001  2017-06-03T00:00:00       0.0  00:00:00   00
864   7677  RG_001  2017-06-04T00:00:00       0.0  00:00:00   00
1152  7677  RG_001  2017-06-05T00:00:00       0.0  00:00:00   00

Sometimes we want to save our work by saving the dataframe we made. (So we don't have to process everything all over again everytime we close Jupyter). The _pickle_ file type can store Python dataframes as a _.pkl_ file. To save our dataframe, run this command:

In [21]:
transformedDF.to_pickle("../saved_dataframes/workshop1RainfallDF")
#note we're save our pickle file into the saved_dataframes folder
#Keeping all your data in one place will keep you organised.

That's it! Congrats for making it this far. I hope this tutorial was helpful and please don't hesitate to ask for help. Feedback that you provide will be taken into consideration for future workshops and I hope that you learned something. Good luck on your projects!